<?php

$header = <<<EOF
This file is part of the RxNET project.
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

$finder = PhpCsFixer\Finder::create()
    ->in('.')
    ->exclude([
        'examples',
        'src/GPBMetadata',
        'src/Rxnet/EventStore/Data',
    ])
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        'header_comment' => ['header' => $header],
        'array_syntax' => ['syntax' => 'short'],
        'no_unused_imports' => true,
        'ordered_imports' => true,
        'declare_strict_types' => true,
        'blank_line_after_opening_tag' => true,
        'single_blank_line_before_namespace' => true,
    ])
    ->setFinder($finder)
;
